*.class
.classpath
*.sublime-*
*~
.cache
.idea/
.idea_modules/
.project
.settings/
*.iml
*.stackdump
project/target/
target/
.cache-main/
.cache-tests/
.ensime/
.ensime_cache/
ensime.sbt
.meghanada/
.cache-main
.cache-tests
.ensime
